<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">админ панель</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">выход</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <form th:action="@{/admin/childs/add}" method="post" th:object="${studentOrderChild}">
        <div class="row">
            <div class="col-sm-5">
                <input type="hidden" name="id" th:field="*{studentOrder}">
                <input type="hidden" name="id" th:field="*{studentChildId}">
                <div class="form-group">
                    <label for="price">Фамилия</label>
                    <input type="text" class="form-control" required th:field="*{child.surName}" name="surName" id="surName"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Имя</label>
                    <input type="text" class="form-control" required th:field="*{child.givenName}" name="givenName" id="givenName"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Отчество</label>
                    <input type="text" class="form-control" required th:field="*{child.patronymic}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Дата рождения</label>
                    <input type="text" class="form-control" required th:field="*{child.dateOfBirth}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Посткод</label>
                    <input type="text" class="form-control" required th:field="*{child.address.postCode}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="category">Улица</label>
                    <select class="form-control" th:field="*{child.address.street}" id="address.street" name="address.street">
                        <option th:each="str :${streets}"
                                th:value="${str.streetCode}"
                                th:text="${str.streetName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Дом</label>
                    <input type="text" class="form-control" required th:field="*{child.address.building}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Корпус</label>
                    <input type="text" class="form-control" required th:field="*{child.address.extension}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Квартира</label>
                    <input type="text" class="form-control" required th:field="*{child.address.apartment}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Номер сертификата</label>
                    <input type="text" class="form-control" required th:field="*{child.childCertificate}" name="patronymic" id="patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="price">Дата выдачи</label>
                    <input type="text" class="form-control" required th:field="*{child.certificateDate}" name="patronymic" id="patronymic"
                           >
                </div>
                 <div class="form-group">
                    <label for="category">Кем выдан</label>
                    <select class="form-control" th:field="*{child.registerOffice}" id="passportOffice" name="passportOffice">
                        <option th:each="register :${registers}"
                                th:value="${register.registerOfficeId}"
                                th:text="${register.registerOfficeName}"
                        >
                    </select>
            </div> 
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/admin/orders" class="btn btn-danger">Выйти без изменений</a><br><br>
                


</div>
</div>
</form>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>