<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="40"
                 class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">главная</a>
                </li>
				<li class="nav-item active">
                    <a class="nav-link" th:href="@{/orders}" href="#">мои заявления</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">выход</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container">

    <form th:action="@{/formPay}" method="post" th:object="${studentOrder}">
        <div class="row">
            <div class="col-sm-5">

                <input type="hidden" name="id" th:field="*{studentOrderId}">

                <hr><strong>Мать</strong><hr>
                <div class="form-group">
                    <label for="price">Фамилия</label>
                    <input type="text" class="form-control" required th:field="*{wife.surName}" name="w_surName" id="w_surName"
                           >
                </div>
                <div class="form-group">
                    <label for="weight">Имя</label>
                    <input type="text" class="form-control" required th:field="*{wife.givenName}" name="w_givenName" id="w_givenName"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Отчество</label>
                    <input type="text" class="form-control" required th:field="*{wife.patronymic}" name="w_patronymic" id="w_patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="description">День рождения</label>
                    <input type="date" class="form-control" required th:field="*{wife.dateOfBirth}" name="w_dateOfBirth" id="w_dateOfBirth"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Посткод</label>
                    <input type="text" class="form-control" required th:field="*{wife.address.postCode}" name="w_postCode" id="w_postCode"
                           >
                </div>
                <div class="form-group">
                    <label for="category">Улица</label>
                    <select class="form-control" th:field="*{wife.address.street}" id="address.street" name="address.street">
                        <option th:each="str :${streets}"
                                th:value="${str.streetCode}"
                                th:text="${str.streetName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Дом</label>
                    <input type="text" class="form-control" required th:field="*{wife.address.building}" name="w_building" id="w_streetName"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Корпус</label>
                    <input type="text" class="form-control" required th:field="*{wife.address.extension}" name="w_extension" id="w_streetName"
                           >
                </div>  
                <div class="form-group">
                    <label for="description">Квартира</label>
                    <input type="text" class="form-control" required th:field="*{wife.address.apartment}" name="w_apartment" id="w_streetName"
                           >
                </div>                  
                <div class="form-group">
                    <label for="description">Серия</label>
                    <input type="text" class="form-control" required th:field="*{wife.passportSeria}" name="w_passportSeria" id="w_passportSeria"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Номер</label>
                    <input type="text" class="form-control" required th:field="*{wife.passportNumber}" name="w_passportNumber" id="w_passportNumber"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Дата выдачи</label>
                    <input type="date" class="form-control" required th:field="*{wife.issueDate}" name="w_passportNumber" id="w_passportNumber"
                           >
                </div>

                <div class="form-group">
                    <label for="category">Кем выдан</label>
                    <select class="form-control" th:field="*{wife.passportOffice}" id="passportOffice" name="passportOffice">
                        <option th:each="passport :${pOfficies}"
                                th:value="${passport.passportOfficeId}"
                                th:text="${passport.passportOfficeName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Университет</label>
                    <select class="form-control" th:field="*{wife.university}" id="passportOffice" name="passportOffice">
                        <option th:each="uni :${univers}"
                                th:value="${uni.universityId}"
                                th:text="${uni.universityName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Дата поступления</label>
                    <input type="date" class="form-control" required th:field="*{wife.issueDate}" name="w_issueDate" id="w_issueDate"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Номер студенческого</label>
                    <input type="text" class="form-control" required th:field="*{wife.studentNumber}" name="w_studentNumber" id="w_studentNumber"
                           >
                </div>
                </div>
                <div class="col-sm-5">
                <!-- HUSBAND -->
                 <hr><strong>Отец</strong><hr>
                <div class="form-group">
                    <label for="price">Фамилия</label>
                    <input type="text" class="form-control" required th:field="*{husband.surName}" name="h_surName" id="h_surName"
                           >
                </div>
                <div class="form-group">
                    <label for="weight">Имя</label>
                    <input type="text" class="form-control" required th:field="*{husband.givenName}" name="h_givenName" id="h_givenName"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Отчество</label>
                    <input type="text" class="form-control" required th:field="*{husband.patronymic}" name="h_patronymic" id="h_patronymic"
                           >
                </div>
                <div class="form-group">
                    <label for="description">День рождения</label>
                    <input type="date" class="form-control" required th:field="*{husband.dateOfBirth}" name="h_dateOfBirth" id="h_dateOfBirth"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Посткод</label>
                    <input type="text" class="form-control" required th:field="*{husband.address.postCode}" name="h_postCode" id="h_postCode"
                           >
                </div>
                <div class="form-group">
                    <label for="category">Улица</label>
                    <select class="form-control" th:field="*{husband.address.street}" id="address.street" name="address.street">
                        <option th:each="str :${streets}"
                                th:value="${str.streetCode}"
                                th:text="${str.streetName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Дом</label>
                    <input type="text" class="form-control" required th:field="*{husband.address.building}" name="h_building" id="h_streetName"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Корпус</label>
                    <input type="text" class="form-control" required th:field="*{husband.address.extension}" name="h_extension" id="h_streetName"
                           >
                </div>  
                <div class="form-group">
                    <label for="description">Квартира</label>
                    <input type="text" class="form-control" required th:field="*{husband.address.apartment}" name="h_apartment" id="h_streetName"
                           >
                </div>   
                
                <div class="form-group">
                    <label for="description">Серия</label>
                    <input type="text" class="form-control" required th:field="*{husband.passportSeria}" name="h_passportSeria" id="h_passportSeria"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Номер</label>
                    <input type="text" class="form-control" required th:field="*{husband.passportNumber}" name="h_passportNumber" id="h_passportNumber"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Дата выдачи</label>
                    <input type="date" class="form-control" required th:field="*{husband.issueDate}" name="h_passportNumber" id="h_passportNumber"
                           >
                </div>
                <div class="form-group">
                    <label for="category">Кем выдан</label>
                    <select class="form-control" th:field="*{husband.passportOffice}" id="passportOffice" name="passportOffice">
                        <option th:each="passport :${pOfficies}"
                                th:value="${passport.passportOfficeId}"
                                th:text="${passport.passportOfficeName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Университет</label>
                    <select class="form-control" th:field="*{husband.university}" id="passportOffice" name="passportOffice">
                        <option th:each="uni :${univers}"
                                th:value="${uni.universityId}"
                                th:text="${uni.universityName}"
                        >
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Дата поступления</label>
                    <input type="date" class="form-control" required th:field="*{husband.issueDate}" name="h_issueDate" id="h_issueDate"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Номер студенческого</label>
                    <input type="text" class="form-control" required th:field="*{husband.studentNumber}" name="h_studentNumber" id="h_studentNumber"
                           >
                </div>
                </div>
                <div class="col-sm-5">
                <hr><strong>Свадьба</strong><hr>
                <div class="form-group">
                    <label for="description">Сертификат</label>
                    <input type="text" class="form-control" required th:field="*{certificateNumber}" name="certificateNumber" id="certificateNumber"
                           >
                </div>
                <div class="form-group">
                    <label for="description">Дата</label>
                    <input type="date" class="form-control" required th:field="*{marriageDate}" name="marriageDate" id="marriageDate"
                           >
                </div>
                 <div class="form-group">
                    <label for="category">Кем выдан</label>
                    <select class="form-control" th:field="*{registerOffice}" id="passportOffice" name="passportOffice">
                        <option th:each="register :${registers}"
                                th:value="${register.registerOfficeId}"
                                th:text="${register.registerOfficeName}"
                        >
                    </select>
            </div> 
        </div>
        
        
                     <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Перейти к добавлению детей</button>
            </div>
        </div>
    </form>
                </div>
    


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>